@tailwind base;
@tailwind components;
@tailwind utilities;

.li_personalizada::marker {
    color: #F0EE0B;
}

hr.style-one {
  border: 0;
  border-top: 6px double #EBEBEB;
  text-align: center;
  width: 87%;
}
hr.style-one:after {
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 -20px;
  background: #fff;
  color: #8c8c8c;
}


hr.style-two {
  border: 0;
  border-top: 6px double #EBEBEB;
  text-align: center;
  width: 100%;
}
hr.style-two:after {
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 -20px;
  background: #fff;
  color: #8c8c8c;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 9999;
}

.btn{
  @apply text-center rounded-full py-2 px-3 text-xs font-bold cursor-pointer tracking-wider;
}